---
title: home
---

{% extends './_includes/layouts/base.njk' %}

{% block header %}
  <div class="banner">
    {% include 'partials/banner.njk' %}
  </div>
{% endblock %}

{% block main %}
  <main>
    <section class="container about">
      <h2>
        <code>whoami</code>
      </h2>
      <div>
        <span>> </span>I'm <span class="highlight">Glenn Goossens</span> & welcome to my homepage on the interwebs.<br>
        <span>> </span><br>
        <span>> </span>See what I'm up to <a href="/now">now</a><br>
      </div>
    </section>
  {% endblock %}