---
title: home
layout: base  
---

<section class="container about">
  <h1>
    <code>whoami</code>
  </h1>
  <div class="codeblock">
    <span>> </span>I'm Glenn & welcome to my homepage on the interwebs.<br>
    <span>> </span><br>
    <span>> </span>See what I'm up to <a href="/now">now</a><br>
  </div>
</section>