<pre>
                                                        ____   
                                                       /   /   
                                                      /   /    
                                                     /   /     
                                          __________/   /____  
                                         /         /         \ 
        _..---..___....---- ____        /   ______/    ___    \
      .'    _   \      ..'/      \     (_____    )    /   /   /
     .     (_)   \ -''   |       |    /         /    /   /   / 
    '             | -..__ \_____ /   /_________/____/   /___/  
   |             /     __ ''                                   
  |          _../.---''                                        
 /         /                                                   
/         /                                                                          
</pre>