<pre>
                                                                           __ 
                                                        _...--..          / / 
                                        _____......----'      .'    _____/ /_ 
                                  _..-''                    .'     / ___/ __ \
                               .'                       .../  _   (__  ) / / /
                            .'                        .'   | (_) /____/_/ /_/ 
                         .'                         .-'   /                   
                      .'   _                       .'    /                    
                    .'  .' .'    _               /     .'                     
                  .'  .' .'  .--' `.   _ _ _ ..''    .'                       
             _.-''  .' .' `.'       `-'            .'                         
          .''  ..-' .'      `-.                   '                           
       .'    .'   .'          `-.._ _ _ _ .-.     |                           
      /     o _.'               .--'   .'    \   /                            
    .'-.__..-'                  /..    .`    /  /                             
  .'   . '                       /.'/.'     /  |                              
 `---'                                   _.'   '                              
                                       /.'    .'                              
                                        /.'/.'                                
</pre>