<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }} - Glenn Goossens</title>
    <meta
      name="description"
      content="{{ description or metadata.description }}"
/>
    <link rel="stylesheet" href="/assets/css/index.css"/>
  </head>
  <body></body>
  <header class="container">
    {% block header %}
      <nav class="flex-row">
        <div class="logo flex-center">
          <a href="/">
            {% include 'partials/logo.njk'%}
          </a>
        </div>
        <ul class="flex-row">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item flex-center{{ ' current-page' | safe if entry.url == page.url }}">
              <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endblock %}
  </header>

  {% block main %}
    <main class="container">
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>
  {% endblock %}

  <footer></footer>
</html>