:root {
  --light-bg: #F0EDEA;
  --light-header-bg: #E5E2DB;
  --light-selection-bg: #DF7470;
  --light-text: #333232;
}

@font-face {
  font-family: Meslo LG S;
  src: url(assets/fonts/MesloLGS-Regular.ttf);
}

@font-face {
  font-family: Meslo LG M;
  src: url(assets/fonts/MesloLGM-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Meslo LG M;
  background-color: var(--light-bg);
  color: var(--light-text);
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  padding-left: 4vw;
  padding-right: 4vw;
}

header {
  padding: 2em 0;
  background-color: var(--light-header-bg);
  align-items: baseline;
}

.logo a {
  background-color: var(--light-selection-bg);
  color: var(--light-bg);
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.logo a:visited {
  color: var(--light-bg); 
}

nav {
  justify-content: space-between;
  text-transform: uppercase;
  /* font-size: 1.3em; */
}

nav a {
  margin: 0 1em;
  /* height: 1.6em; */
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-decoration: none;
}

nav li {
  display: flex;
  list-style-type: none;
}

nav li a:visited {
  color: black;
}

.current-page, nav li a:hover {
  border-bottom: 0.2em solid red
}